<h1 class="page-header">
  <%= t(:new, scope: "commons.female", model: t(:classroom, scope: 'activerecord.models')) %>
  <small><%= link_to t(:back), classrooms_path, class: "btn btn-primary pull-right" %></small>
</h1>

<%= simple_form_for(@classroom, html: {class: 'form' }) do |f| %>
  <% if @classroom.errors.any? %>
    <div class="error_explanation">
      <h4><%= pluralize(@classroom.errors.count, t(:error_found)) %>:</h4>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :student_id, collection: @students, as: :select, prompt: I18n.t(:student_id, scope: "placeholders.classroom") %>
  <%= f.input :course_id, collection: @courses, as: :select, prompt: I18n.t(:course_id, scope: "placeholders.classroom") %>

  <%= f.button :submit, class: "btn-default" %>
<% end %>