<%= simple_form_for(@student, html: {class: 'form' }) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, t(:error_found)) %>:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, placeholder: I18n.t(:name, scope: "placeholders.student"), input_html: { pattern: "[a-zA-Z ]+" } %>
  <%= f.input :register_number, placeholder: I18n.t(:register_number, scope: "placeholders.student"), input_html: { pattern: "[0-9]+" } %>
  <%= f.input :status, collection: @student_statuses, as: :select, prompt: I18n.t(:choose_one), selected: (@student.status ? @student.status : 1) %>

  <%= f.button :submit, class: "btn-default" %>
<% end %>
