<p id="notice"><%= notice %></p>

<h1 class="page-header">
	<%= t(:view, scope: "commons.unisex", model: t(:course, scope: "activerecord.models")) %>
	<%= link_to t(:edit, scope: "commons.unisex", model: t(:student, scope: "activerecord.models")), edit_student_path(@student), class: "btn btn-primary pull-right" %>
	<%= link_to t(:back), students_path, class: "btn btn-primary pull-right margin-right-10" %>
</h1>

<h3>
	<small><%= t(:name, scope: "activerecord.attributes.student") %></small><br>
	<%= @student.name %>
</h3>
<h3>
	<small><%= t(:register_number, scope: "activerecord.attributes.student") %></small><br>
	<%= @student.register_number %>
</h3>
<h3>
	<small><%= t(:status, scope: "activerecord.attributes.student") %></small><br>
	<span class="label label-<%= (@student.status == 1 ? "success" : "danger") %>"><%= @student.status_str %></span>
</h3>